<?xml version="1.0"?>
<configuration scan="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{YYYY.MM.dd. HH:mm:ss.SSS} [%-5level] %logger{50} [%thread] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<appender name="LOG_TO_FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{YYYY.MM.dd. HH:mm:ss.SSS} [%-5level] %logger{50} [%thread] - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="ALL">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="LOG_TO_FILE"/>
	</root>
</configuration>